<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    </system.web>
    <appSettings>
    <add key="Action1" value="D:\Work\IntegrationCode\Visa_N3DS\XML Actions\Action_1.xml"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
      <bindings>
          <basicHttpBinding>
              <binding name="APIService" closeTimeout="00:00:15" openTimeout="00:01:00"  sendTimeout="00:01:00" maxReceivedMessageSize="131072"><security mode="Transport"/></binding>
              <binding name="APIService1" closeTimeout="00:00:15" openTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="131072"><security mode="Transport"/></binding>
              <binding name="APIService2" closeTimeout="00:00:15" openTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="131072"><security mode="Transport"/></binding>
              <binding name="APIService3" closeTimeout="00:00:15" openTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="131072"><security mode="Transport"/></binding>
              <binding name="APIService4" closeTimeout="00:00:15" openTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="131072"><security mode="Transport"/></binding>
              <binding name="APIService5" closeTimeout="00:00:15" openTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="131072"><security mode="Transport"/></binding>
              <binding name="APIService6" closeTimeout="00:00:15" openTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="131072"><security mode="Transport"/></binding>
              <binding name="APIService7" closeTimeout="00:00:15" openTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="131072"><security mode="Transport"/></binding>
              <binding name="APIService8" closeTimeout="00:00:15" openTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="131072"><security mode="Transport"/></binding>
              <binding name="APIService9" closeTimeout="00:00:15" openTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="131072"><security mode="Transport"/></binding>
          </basicHttpBinding>
      </bindings>
    <client>
      <endpoint address="https://api.mygateglobal.com/api/api.php" binding="basicHttpBinding" bindingConfiguration="APIService1" contract="WSAction2.APIService" name="APIPort1">
        <headers>
          <authenticate>
            <merchantUID>F5785ECF-1EAE-40A0-9D37-93E2E8A4BAB3</merchantUID>
            <merchantToken>A06033E6-43CF-471A-A985-E16442ED1FFF</merchantToken>
            <actionTypeID>2</actionTypeID>
          </authenticate>
        </headers>
      </endpoint>
      <endpoint address="https://api.mygateglobal.com/api/api.php" binding="basicHttpBinding" bindingConfiguration="APIService2" contract="WSAction3.APIService" name="APIPort2"> 
        <headers>
          <authenticate>
            <merchantUID>F5785ECF-1EAE-40A0-9D37-93E2E8A4BAB3</merchantUID>
            <merchantToken>A06033E6-43CF-471A-A985-E16442ED1FFF</merchantToken>
            <actionTypeID>3</actionTypeID>
          </authenticate>
        </headers>
      </endpoint>
      <endpoint address="https://api.mygateglobal.com/api/api.php" binding="basicHttpBinding" bindingConfiguration="APIService3" contract="WSAction4.APIService" name="APIPort3">
        <headers>
          <authenticate>
            <merchantUID>F5785ECF-1EAE-40A0-9D37-93E2E8A4BAB3</merchantUID>
            <merchantToken>A06033E6-43CF-471A-A985-E16442ED1FFF</merchantToken>
            <actionTypeID>4</actionTypeID>
          </authenticate>
        </headers>
      </endpoint>
     <endpoint address="https://api.mygateglobal.com/api/api.php" binding="basicHttpBinding" bindingConfiguration="APIService5" contract="VisaCardinal_Auth.APIService" name="APIPort">
        <headers>  
          <authenticate>
            <merchantUID>F5785ECF-1EAE-40A0-9D37-93E2E8A4BAB3</merchantUID>
            <merchantToken>A06033E6-43CF-471A-A985-E16442ED1FFF</merchantToken>
            <actionTypeID>1</actionTypeID>
          </authenticate>
        </headers>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>